.venv_win/*
.venv_mac/*
config.py

grizzly/__pycache__/*
grizzly/dataframes/__pycache__/*
py2sqlcompiler/__pycache__/*
py2sqlcompiler/py_parser/__pycache__/*
py2sqlcompiler/py_parser2/__pycache__/*
__pycache__/*
py2sqlcompiler/py_parser3/__pycache__/*
speedtest/__pycache__/*
py2sqlcompiler/py_parser4/__pycache__/*